body {
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: lavender;
    padding: 25px 30px;
    width: 330px;
    border-radius: 12px;
    box-shadow: 0 4px 15px;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: #1e3c72;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin: 10px 0 5px;
    color: #333;
    font-weight: bold;
    text-align: left;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #2193b0;
    font-size: 16px;
}

button {
    width: 90%;
    padding: 8px;
    background: #1e90ff;
    border: none;
    color: black;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #187bcd;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

#result span {
    color: orangered;
}